{% include "header.html" %}

<h1>{{ template.title }} - Collections</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
{%- for collection in response.collections %}
    <tr>
      <td>{{ loop.index1 }}</td>
      <td>
          {%- set items_href = "" -%}
          {%- for link in collection.links -%}
          {%- if existsIn(link, "rel") and link.rel == "items" -%}
          {%- set items_href = link.href -%}
          {%- endif -%}
          {%- endfor -%}
          <a href="{{ items_href }}">{{ collection.title }}</a>
      </td>
      <td>{{ collection.itemType }}</td>
      <td>{{ collection.description }}</td>
    </tr>
{% endfor -%}
  </tbody>
</table>
{%- include "footer.html" -%}
