.libs
*.o
*.lo
config.log
config.status
*.dll
*.swp
Makefile
legend
libmapserver.a
mapscript/csharp/Makefile
mapscript/java/Makefile
mapscriptvars
mapserv
mapserver-config
msencrypt
nbproject
scalebar
shp2img
shptree
shptreetst
shptreevis
sortshp
tile4ms
