.gitattributes export-ignore
msautotest export-ignore
.gitignore export-ignore
.gitmodules export-ignore
release.sh export-ignore
nmake.opt export-ignore
COMMITERS export-ignore
run-test-suite.sh export-ignore
stablemerge.sh export-ignore
run_code_coverage_upload.sh export-ignore
release-notes.sh export-ignore
print-test-results.sh export-ignore
appveyor.yml export-ignore
astyle.sh export-ignore
create_mapaxisorder_csv.py export-ignore
genhtml.patch export-ignore
install-msautotest.sh export-ignore
mapaxisorder.csv export-ignore
mapaxisorder.sh export-ignore
github_issue_no_activity_closer.py export-ignore
