.libs
*.o
*.lo
config.log
config.status
*.dll
*.swp
Makefile
legend
libmapserver.a
libmapserver.la
libtool
mapscript/csharp/Makefile
mapscript/java/Makefile
mapscript/perl/Makefile.PL
mapscript/python/_mapscript.la
mapscript/python/build/
mapscript/python/mapscript.py
mapscript/python/mapscript_wrap.c
mapscript/php/php_mapscript.la
mapscriptvars
mapserv
mapserver-config
msencrypt
nbproject
scalebar
shp2img
shptree
shptreetst
shptreevis
sortshp
tile4ms
autom4te.cache
tags
