<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" 
	backupGlobals="false" 
	backupStaticProperties="false" 
	colors="true"  
	processIsolation="false" 
	stopOnFailure="false" 
	beStrictAboutTestsThatDoNotTestAnything="false" 
    cacheDirectory=".phpunit.cache" 
    testdox ="true">
  <testsuite name="MapServer PHP MapScript - Unit Test">
    <!-- set minimum version supported for PHPUnit tests to PHP >= 8.1.0 -->
    <directory phpVersion="8.1.0" phpVersionOperator=">=">./</directory>
  </testsuite>
</phpunit>
