<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" 
	backupGlobals="false" 
	backupStaticAttributes="false" 
	verbose="true" 
	colors="true" 
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true" 
	convertWarningsToExceptions="true" 
	processIsolation="false" 
	stopOnFailure="false" 
	beStrictAboutTestsThatDoNotTestAnything="false">
  <testsuite name="MapServer PHP MapScript - Unit Test">
    <!-- set minimum version supported for PHPUnit tests to PHP >= 7.3.0 -->
    <directory phpVersion="7.3.0" phpVersionOperator=">=">./</directory>
  </testsuite>
</phpunit>
