<!-- MapServer Template -->
This template tests using includes with feature template outputs
[resultset layer="bdry_counpy2"]
  --------------------------------------
[include src="template/item.tmpl"]  
  --------------------------------------
[/resultset]
