<!-- MapServer Template -->
<html>
  <head>
    <title>HTML Test Template</title>
  </head>
  <body>
    <div id="header">
      This is the header section of the template. It should appear regardless. Many tags can be used here:<br/><br/>
      mapext: [mapext]<br/>       
    </div>
[resultset layer="bdry_counpy2"]
    <div class="layer-header">
      This is the header section of a layer/resultset section. It should appear <b>only</b> if the layer has results.
    </div>
    [feature][item name="cty_name"]:[item name="cty_abbr"] [/feature]
    <div class="layer-footer">
      This is the footer section of a layer/resultset section. It should appear <b>only</b> if the layer has results.
    </div>
[/resultset]
[resultset layer="indx_q100kpy4" nodata="<div class='nodata'>layer indx_q100kpy4 had no results</div>"]
    <div class="layer-header">
      This is the header section of a layer/resultset section. It should appear <b>only</b> if the layer has results.
    </div>
    [feature]name:[item name="TILE_NAME"] [/feature]
    <div class="layer-footer">
      This is the footer section of a layer/resultset section. It should appear <b>only</b> if the layer has results.
    </div>
[/resultset]
    <div id="footer">This is the footer section of the template. It should appear regardless.</div>
  </body>
</html>
