<!-- MapServer Template -->
  [feature]
    ITEM TAGS: [item name="cty_name"]:[item name="cty_abbr"]
    OLD-STYLE TAG (case sensitive): [CTY_NAME], [cty_name]
    SHPEXT (basic): [shpext]
    SHPEXT (precision=0): [shpext precision="0"]
    SHPXY (basic): [shpxy]
  [/feature]