<!-- MapServer Template -->
[resultset layer="test_rotation_30"][feature]X=[shpminx],Y=[shpminy][/feature][/resultset]
[resultset layer="test_classgroup"][feature]X=[shpminx],Y=[shpminy][/feature][/resultset]
