<!-- MapServer Template -->
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
        <head>
                <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
                <meta http-equiv="Content-Style-Type" content="text/css" />
                <meta http-equiv="pragma" content="no-cache"/>
                <meta http-equiv="Expires" content="Thu, 01 Dec 1994 120000 GMT"/>
				<link rel="stylesheet" media="all" href="/ms_ogc_workshop/demo.css" type="text/css"/>
                <title>Query Results</title>
        </head>
        <body>
                <table class="centered" border="0">
                        <tr>
                                <td>Query Details</td>
                        </tr>
                </table>

                <hr/>

                <table class="centered" border="1">
                        <tr>
                                <th>Bounding box</th>
                                <td>[minx],[miny],[maxx],[maxy]</td>
                        </tr>
                        <tr>
                                <th>Image Coordinates</th>
                                <td>[img.x], [img.y]</td>
                        </tr>
                        <tr>
                                <th>Map Coordinates</th>
                                <td>[mapx], [mapy]</td>
                        </tr>
                        <tr>
                                <th>Number of results</th>
                                <td>[nr]</td>
                        </tr>
                        <tr>
                                <th>Scale</th>
                                <td>[scale]</td>
                        </tr>
                        <tr>
                                <th>Cellsize</th>
                                <td>[cellsize]</td>
                        </tr>
                </table>

                <hr/>
