<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MapServer OGC API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      MapServer OGC API
    </nav>
    <main role="main" class="container">
      <div id="page">
