name: Build and test PHP MapScript

on:
  push:
    branches:
      - '*'
    except:
      - /^(cherry-pick-)?backport-\d+-to-/
  pull_request:
    branches:
      - '*'
    except:
      - /^(cherry-pick-)?backport-\d+-to-/

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-version: [8.4, 8.3]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up PHP and Install Dependencies
        run: |
            docker run \
            -e WORK_DIR="$PWD" \
            -e PHP_VERSION="${{ matrix.php-version }}" \
            -v $PWD:$PWD ubuntu:24.04 $PWD/scripts/build-mapscript-php.sh
